In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import csv

# EXTRACT DATA

In [9]:
df_olistcustomer = pd.read_csv('olist_customers_dataset.csv')
df_olistgeolocations = pd.read_csv('olist_geolocation_dataset.csv')
df_olist_order_items_dataset = pd.read_csv('olist_order_items_dataset.csv')
df_olist_order_payments_dataset = pd.read_csv('olist_order_payments_dataset.csv')
df_olist_order_reviews_dataset = pd.read_csv('olist_order_reviews_dataset.csv')
df_olist_orders_dataset = pd.read_csv('olist_orders_dataset.csv')
df_olist_products_dataset = pd.read_csv('olist_products_dataset.csv')
df_olist_sellers_dataset = pd.read_csv('olist_sellers_dataset.csv')
df_product_category_name_translation = pd.read_csv('product_category_name_translation.csv')

## Xóa dữ liệu trùng

In [10]:
arr_df = [df_olistcustomer,
df_olistgeolocations,
df_olist_order_items_dataset,
df_olist_order_payments_dataset,
df_olist_order_reviews_dataset,
df_olist_orders_dataset,
df_olist_products_dataset,
df_olist_sellers_dataset,
df_product_category_name_translation]

total_duplicates = sum(df.duplicated().sum() for df in arr_df)
print("Tổng số lượng dòng trùng lặp:", total_duplicates)

Tổng số lượng dòng trùng lặp: 261831

In [11]:
df_olistcustomer = df_olistcustomer.drop_duplicates()
df_olistgeolocations = df_olistgeolocations.drop_duplicates()
df_olist_order_items_dataset = df_olist_order_items_dataset.drop_duplicates()
df_olist_order_payments_dataset = df_olist_order_payments_dataset.drop_duplicates()
df_olist_order_reviews_dataset = df_olist_order_reviews_dataset.drop_duplicates()
df_olist_orders_dataset = df_olist_orders_dataset.drop_duplicates()
df_olist_products_dataset = df_olist_products_dataset.drop_duplicates()
df_olist_sellers_dataset = df_olist_sellers_dataset.drop_duplicates()
df_product_category_name_translation = df_product_category_name_translation.drop_duplicates()

## Xóa dữ liệu null

In [13]:
missing_values = df_olistcustomer.isnull().sum()
print("Số lượng giá trị bị thiếu trong df_olistcustomer:")
print(missing_values)

Số lượng giá trị bị thiếu trong df_olistcustomer:
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [14]:
# In ra số lượng giá trị null trong mỗi bảng DataFrame
print("Null values in df_olistcustomer:")
print(df_olistcustomer.isnull().sum())

print("\nNull values in df_olistgeolocations:")
print(df_olistgeolocations.isnull().sum())

print("\nNull values in df_olist_order_items_dataset:")
print(df_olist_order_items_dataset.isnull().sum())

print("\nNull values in df_olist_order_payments_dataset:")
print(df_olist_order_payments_dataset.isnull().sum())

print("\nNull values in df_olist_order_reviews_dataset:")
print(df_olist_order_reviews_dataset.isnull().sum())

print("\nNull values in df_olist_orders_dataset:")
print(df_olist_orders_dataset.isnull().sum())

print("\nNull values in df_olist_products_dataset:")
print(df_olist_products_dataset.isnull().sum())

print("\nNull values in df_olist_sellers_dataset:")
print(df_olist_sellers_dataset.isnull().sum())

print("\nNull values in df_product_category_name_translation:")
print(df_product_category_name_translation.isnull().sum())

Null values in df_olistcustomer:
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

Null values in df_olistgeolocations:
geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

Null values in df_olist_order_items_dataset:
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

Null values in df_olist_order_payments_dataset:
order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

Null values in df_olist_order_reviews_dataset:
review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

Null values in df_olist_orders_dataset:
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

Null values in df_olist_products_dataset:
product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

Null values in df_olist_sellers_dataset:
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

Null values in df_product_category_name_translation:
product_category_name            0
product_category_name_english    0
dtype: int64

## BẢNG CUSTOMER

In [37]:
df_olistcustomer.head(10)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
5,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,89254,jaragua do sul,SC
6,fd826e7cf63160e536e0908c76c3f441,addec96d2e059c80c30fe6871d30d177,4534,sao paulo,SP
7,5e274e7a0c3809e14aba7ad5aae0d407,57b2a98a409812fe9618067b6b8ebe4f,35182,timoteo,MG
8,5adf08e34b2e993982a47070956c5c65,1175e95fb47ddff9de6b2b06188f7e0d,81560,curitiba,PR
9,4b7139f34592b3a31687243a302fa75b,9afe194fb833f79e300e37e580171f22,30575,belo horizonte,MG

In [38]:
df_olistcustomer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [39]:
state_map={
    'AC': 'ACRE',
    'AL': 'ALAGOAS',
    'AP': 'AMAPÁ',
    'AM': 'AMAZONAS',
    'BA': 'BAHIA',
    'CE': 'CEARÁ',
    'DF': 'Distrito Federal',
    'ES': 'ESPÍRITO SANTO',
    'GO': 'GOIÁS',
    'MA': 'MARANHÃO',
    'MT': 'MATO GROSSO',
    'MS': 'MATO GROSSO DO SUL',
    'MG': 'MINAS GERAIS',
    'PA': 'PARÁ',
    'PB': 'PARAÍBA',
    'PR': 'PARANÁ',
    'PE': 'PERNAMBUCO',
    'PI': 'PIAUÍ',
    'RJ': 'RIO DE JANEIRO',
    'RN': 'RIO GRANDE DO NORTE',
    'RS': 'RIO GRANDE DO SUL',
    'RO': 'RONDÔNIA',
    'RR': 'RORAIMA',
    'SC': 'SANTA CATARINA',
    'SP': 'SÃO PAULO',
    'SE': 'SERGIPE',
    'TO': 'TOCANTINS'
}
# Thêm cột mới với tên đầy đủ của bang
df_olistgeolocations['state_full_name'] = df_olistgeolocations['geolocation_state'].map(state_map)

C:\Users\Vivobook\AppData\Local\Temp\ipykernel_49884\1556615902.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_olistgeolocations['state_full_name'] = df_olistgeolocations['geolocation_state'].map(state_map)

## BẢNG GEOLOCATION

In [44]:
df_olistgeolocations.head(10)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,state_full_name
0,1037,-23.545621,-46.639292,sao paulo,SP,SÃO PAULO
1,1046,-23.546081,-46.644820,sao paulo,SP,SÃO PAULO
2,1046,-23.546129,-46.642951,sao paulo,SP,SÃO PAULO
3,1041,-23.544392,-46.639499,sao paulo,SP,SÃO PAULO
4,1035,-23.541578,-46.641607,sao paulo,SP,SÃO PAULO
5,1012,-23.547762,-46.635361,são paulo,SP,SÃO PAULO
6,1047,-23.546273,-46.641225,sao paulo,SP,SÃO PAULO
7,1013,-23.546923,-46.634264,sao paulo,SP,SÃO PAULO
8,1029,-23.543769,-46.634278,sao paulo,SP,SÃO PAULO
9,1011,-23.547640,-46.636032,sao paulo,SP,SÃO PAULO

In [45]:
df_olistgeolocations.info()

<class 'pandas.core.frame.DataFrame'>
Index: 738299 entries, 0 to 1000161
Data columns (total 6 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   geolocation_zip_code_prefix  738299 non-null  int64
 1   geolocation_lat              738299 non-null  float64
 2   geolocation_lng              738299 non-null  float64
 3   geolocation_city             738299 non-null  object
 4   geolocation_state            738299 non-null  object
 5   state_full_name              738299 non-null  object
dtypes: float64(2), int64(1), object(3)
memory usage: 39.4+ MB

In [46]:
state_mapping = {
    'AC': 'ACRE',
    'AL': 'ALAGOAS',
    'AP': 'AMAPÁ',
    'AM': 'AMAZONAS',
    'BA': 'BAHIA',
    'CE': 'CEARÁ',
     'DF': 'Distrito Federal',
    'ES': 'ESPÍRITO SANTO',
    'GO': 'GOIÁS',
    'MA': 'MARANHÃO',
    'MT': 'MATO GROSSO',
    'MS': 'MATO GROSSO DO SUL',
    'MG': 'MINAS GERAIS',
    'PA': 'PARÁ',
    'PB': 'PARAÍBA',
    'PR': 'PARANÁ',
    'PE': 'PERNAMBUCO',
    'PI': 'PIAUÍ',
    'RJ': 'RIO DE JANEIRO',
    'RN': 'RIO GRANDE DO NORTE',
    'RS': 'RIO GRANDE DO SUL',
    'RO': 'RONDÔNIA',
    'RR': 'RORAIMA',
    'SC': 'SANTA CATARINA',
    'SP': 'SÃO PAULO',
    'SE': 'SERGIPE',
    'TO': 'TOCANTINS'
}

# Thêm cột mới với tên đầy đủ của bang hoặc tỉnh
df_olistgeolocations['state_full_name'] = df_olistgeolocations['geolocation_state'].map(state_mapping)
df_olistgeolocations.head(5)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,state_full_name
0,1037,-23.545621,-46.639292,sao paulo,SP,SÃO PAULO
1,1046,-23.546081,-46.644820,sao paulo,SP,SÃO PAULO
2,1046,-23.546129,-46.642951,sao paulo,SP,SÃO PAULO
3,1041,-23.544392,-46.639499,sao paulo,SP,SÃO PAULO
4,1035,-23.541578,-46.641607,sao paulo,SP,SÃO PAULO

In [47]:
# Loại bỏ các vị trí không phải ở Brazil
df_olistgeolocations= df_olistgeolocations[df_olistgeolocations.geolocation_lat <= 5.27438888]
df_olistgeolocations= df_olistgeolocations[df_olistgeolocations.geolocation_lng >= -73.98283055]
df_olistgeolocations= df_olistgeolocations[df_olistgeolocations.geolocation_lat >= -33.75116944]
df_olistgeolocations= df_olistgeolocations[df_olistgeolocations.geolocation_lng <=  -34.79314722]

## BẢNG ORDER ITEMS

In [48]:
df_olist_order_items_dataset.head(5)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [49]:
df_olist_order_items_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [50]:
# Chuyển đổi kiểu dữ liệu cho các cột giới hạn thời gian giao hàng 
df_olist_order_items_dataset['shipping_limit_date'] = pd.to_datetime(df_olist_order_items_dataset['shipping_limit_date'])
print(df_olist_order_items_dataset.dtypes)
# Loại bỏ phần thông tin về giờ
df_olist_order_items_dataset['shipping_limit_date'] = df_olist_order_items_dataset['shipping_limit_date'].dt.date

order_id                       object
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

In [51]:
# Tạo cột mới tổng giá trị đơn hàng
df_olist_order_items_dataset['total_order_value'] = df_olist_order_items_dataset['price'] + df_olist_order_items_dataset['freight_value']
# Định nghĩa các khoảng giá và nhãn tương ứng
bins = [0, 100, 200, 300, 400, 1000, float('inf')]
labels = ['very low', 'low', 'medium', 'high', 'very high', 'extremely high']
# Thêm cột mới 'price_range' vào DataFrame
df_olist_order_items_dataset['price_range'] = pd.cut(df_olist_order_items_dataset['price'], bins=bins, labels=labels, right=False)

In [52]:
# Định nghĩa các khoảng giá và nhãn tương ứng
bins = [0, 100, 200, 300, 400, 1000, float('inf')]
labels = ['very low', 'low', 'medium', 'high', 'very high', 'extremely high']

# Thêm cột mới 'price_range' vào DataFrame
df_olist_order_items_dataset['price_range'] = pd.cut(df_olist_order_items_dataset['price'], bins=bins, labels=labels, right=False)
df_olist_order_items_dataset.head(30)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,total_order_value,price_range
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19,58.90,13.29,72.19,very low
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03,239.90,19.93,259.83,medium
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18,199.00,17.87,216.87,low
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15,12.99,12.79,25.78,very low
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13,199.90,18.14,218.04,low
5,00048cc3ae777c65dbb7d2a0634bc1ea,1,ef92defde845ab8450f9d70c526ef70f,6426d21aca402a131fc0a5d0960a3c90,2017-05-23,21.90,12.69,34.59,very low
6,00054e8431b9d7675808bcb819fb4a32,1,8d4f2bb7e93e6710a28f34fa83ee7d28,7040e82f899a04d1b434b795a43b4617,2017-12-14,19.90,11.85,31.75,very low
7,000576fe39319847cbb9d288c5617fa6,1,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,2018-07-10,810.00,70.75,880.75,very high
8,0005a1a1728c9d785b8e2b08b904576c,1,310ae3c140ff94b03219ad0adc3c778f,a416b6a846a11724393025641d4edd5e,2018-03-26,145.95,11.65,157.60,low
9,0005f50442cb953dcd1d21e1fb923495,1,4535b0e1091c278dfd193e5a1d63b39f,ba143b05f0110f0dc71ad71b4466ce92,2018-07-06,53.99,11.40,65.39,very low
10,00061f2a7bc09da83e415a52dc8a4af1,1,d63c1011f49d98b976c352955b1c4bea,cc419e0650a3c5ba77189a1882b7556a,2018-03-29,59.99,8.88,68.87,very low
11,00063b381e2406b52ad429470734ebd5,1,f177554ea93259a5b282f24e33f65ab6,8602a61d680a10a82cceeeda0d99ea3d,2018-07-31,45.00,12.98,57.98,very low
12,0006ec9db01a64e59a68b2c340bf65a7,1,99a4788cb24856965c36a24e339b6058,4a3ca9315b744ce9f8e9374361493884,2018-07-26,74.00,23.32,97.32,very low
13,0008288aa423d2a3f00fcb17cd7d8719,1,368c6c730842d78016ad823897a372db,1f50f920176fa81dab994f9023523100,2018-02-21,49.90,13.37,63.27,very low
14,0008288aa423d2a3f00fcb17cd7d8719,2,368c6c730842d78016ad823897a372db,1f50f920176fa81dab994f9023523100,2018-02-21,49.90,13.37,63.27,very low
15,0009792311464db532ff765bf7b182ae,1,8cab8abac59158715e0d70a36c807415,530ec6109d11eaaf87999465c6afee01,2018-08-17,99.90,27.65,127.55,very low
16,0009c9a17f916a706d71784483a5d643,1,3f27ac8e699df3d300ec4a5d8c5cf0b2,fcb5ace8bcc92f75707dc0f01a27d269,2018-05-02,639.00,11.34,650.34,very high
17,000aed2e25dbad2f9ddb70584c5a2ded,1,4fa33915031a8cde03dd0d3e8fb27f01,fe2032dab1a61af8794248c8196565c9,2018-05-16,144.00,8.77,152.77,low
18,000c3e6612759851cc3cbb4b83257986,1,b50c950aba0dcead2c48032a690ce817,218d46b86c1881d022bce9c68a7d4b15,2017-08-21,99.00,13.71,112.71,very low
19,000e562887b1f2006d75e0be9558292e,1,5ed9eaf534f6936b51d0b6c5e4d5c2e9,8cbac7e12637ed9cffa18c7875207478,2018-02-28,25.00,16.11,41.11,very low
20,000e63d38ae8c00bbcb5a30573b99628,1,553e0e7590d3116a072507a3635d2877,1c129092bf23f28a5930387c980c0dfc,2018-03-29,47.90,8.88,56.78,very low
21,000e906b789b55f64edcb1f84030f90d,1,57d79905de06d8897872c551bfd09358,ea8482cd71df3c1969d7b9473ff13abc,2017-11-27,21.99,11.85,33.84,very low
22,000f25f4d72195062c040b12dce9a18a,1,1c05e0964302b6cf68ca0d15f326c6ba,7c67e1448b00f6e969d365cea6b010ab,2018-03-21,119.99,44.40,164.39,low
23,001021efaa8636c29475e7734483457d,1,5d7c23067ed3fc8c6e699b9373d5890b,6560211a19b47992c3666cc44a7e94c0,2018-03-05,49.00,15.10,64.10,very low
24,0010b2e5201cc5f1ae7e9c6cc8f5bd00,1,5a419dbf24a8c9718fe522b81c69f61a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-09-15,48.90,16.60,65.50,very low
25,00119ff934e539cf26f92b9ef0cdfed8,1,21b1c2f67a9aafb5af0eb06c13b9dbda,c864036feaab8c1659f65ea4faebe1da,2017-08-11,219.90,16.98,236.88,medium
26,0011d82c4b53e22e84023405fb467e57,1,c389f712c4b4510bc997cee93e8b1a28,bfd27a966d91cfaafdb25d076585f0da,2018-01-29,289.00,26.33,315.33,medium
27,00125cb692d04887809806618a2a145f,1,1c0c0093a48f13ba70d0c6b0a9157cb7,41b39e28db005d9731d9d485a83b4c38,2017-03-29,109.90,25.51,135.41,low
28,00130c0eee84a3d909e75bc08c5c3ca1,1,89321f94e35fc6d7903d36f74e351d40,16090f2ca825584b5a147ab24aa30c86,2018-06-14,27.90,7.94,35.84,very low
29,0013503b13da1eac686219390b7d641b,1,38afdf723b95d455b418a0f57d623c6b,1554a68530182680ad5c8b042c3ab563,2017-12-13,119.90,17.32,137.22,low

## BẢNG ORDER PAYMENTS

In [53]:
df_olist_order_payments_dataset.head(10)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
5,298fcdf1f73eb413e4d26d01b25bc1cd,1,credit_card,2,96.12
6,771ee386b001f06208a7419e4fc1bbd7,1,credit_card,1,81.16
7,3d7239c394a212faae122962df514ac7,1,credit_card,3,51.84
8,1f78449c87a54faf9e96e88ba1491fa9,1,credit_card,6,341.09
9,0573b5e23cbd798006520e1d5b4c6714,1,boleto,1,51.95

In [54]:
df_olist_order_payments_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [55]:
df_olist_order_payments_dataset.drop(columns=['payment_sequential'], inplace=True)

In [56]:
# Thêm một cột phân loại xác định liệu thanh toán có được thực hiện trả góp hay không
def is_installment(payment_installments):
    if payment_installments > 1:
        return 'Installment'
    else:
        return 'Full Payment'
df_olist_order_payments_dataset['installment_payment'] = df_olist_order_payments_dataset['payment_installments'].apply(is_installment)

## BẢNG ORDER REVIEWS

In [57]:
df_olist_order_reviews_dataset.head(10)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
5,15197aa66ff4d0650b5434f1b46cda19,b18dcdf73be66366873cd26c5724d1dc,1,NaN,NaN,2018-04-13 00:00:00,2018-04-16 00:39:37
6,07f9bee5d1b850860defd761afa7ff16,e48aa0d2dcec3a2e87348811bcfdf22b,5,NaN,NaN,2017-07-16 00:00:00,2017-07-18 19:30:34
7,7c6400515c67679fbee952a7525281ef,c31a859e34e3adac22f376954e19b39d,5,NaN,NaN,2018-08-14 00:00:00,2018-08-14 21:36:06
8,a3f6f7f6f433de0aefbb97da197c554c,9c214ac970e84273583ab523dfafd09b,5,NaN,NaN,2017-05-17 00:00:00,2017-05-18 12:05:37
9,8670d52e15e00043ae7de4c01cc2fe06,b9bf720beb4ab3728760088589c62129,4,recomendo,aparelho eficiente. no site a marca do aparelh...,2018-05-22 00:00:00,2018-05-23 16:45:47

In [58]:
df_olist_order_reviews_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [59]:
# Xóa các dòng có cột order_id trùng nhau
df_olist_order_reviews_dataset = df_olist_order_reviews_dataset.drop_duplicates(subset=['order_id'])
# Xóa các dòng có cột review_id trùng nhau
df_olist_order_reviews_dataset = df_olist_order_reviews_dataset.drop_duplicates(subset=['review_id'])

In [60]:
df_olist_order_reviews_dataset.drop(columns=['review_comment_title'], inplace=True)
df_olist_order_reviews_dataset.drop(columns=['review_comment_message'], inplace=True)

In [61]:
df_olist_order_reviews_dataset['review_creation_date'] = pd.to_datetime(df_olist_order_reviews_dataset['review_creation_date'])
df_olist_order_reviews_dataset['review_answer_timestamp'] = pd.to_datetime(df_olist_order_reviews_dataset['review_answer_timestamp'])
# Xóa phần giờ đánh giá, chỉ để ngày 
df_olist_order_reviews_dataset['review_answer_timestamp'] = df_olist_order_reviews_dataset['review_answer_timestamp'].dt.date
df_olist_order_reviews_dataset['review_creation_date'] = df_olist_order_reviews_dataset['review_creation_date'].dt.date

## BẢNG ORDERS

In [62]:

df_olist_orders_dataset.head(10)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 21:57:05,2017-07-09 22:10:13,2017-07-11 14:58:04,2017-07-26 10:57:55,2017-08-01 00:00:00
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,NaN,NaN,2017-05-09 00:00:00
7,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,delivered,2017-05-16 13:10:30,2017-05-16 13:22:11,2017-05-22 10:07:46,2017-05-26 12:55:51,2017-06-07 00:00:00
8,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,delivered,2017-01-23 18:29:09,2017-01-25 02:50:47,2017-01-26 14:16:31,2017-02-02 14:08:10,2017-03-06 00:00:00
9,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 11:55:02,2017-07-29 12:05:32,2017-08-10 19:45:24,2017-08-16 17:14:30,2017-08-23 00:00:00

In [63]:
df_olist_orders_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [64]:
# Chuyển đổi định dạng dữ liệu cho cột ngày tháng
df_olist_orders_dataset['order_purchase_timestamp'] = pd.to_datetime(df_olist_orders_dataset['order_purchase_timestamp'])
df_olist_orders_dataset['order_approved_at'] = pd.to_datetime(df_olist_orders_dataset['order_approved_at'])
df_olist_orders_dataset['order_delivered_carrier_date'] = pd.to_datetime(df_olist_orders_dataset['order_delivered_carrier_date'])
df_olist_orders_dataset['order_delivered_customer_date'] = pd.to_datetime(df_olist_orders_dataset['order_delivered_customer_date'])
df_olist_orders_dataset['order_estimated_delivery_date'] = pd.to_datetime(df_olist_orders_dataset['order_estimated_delivery_date'])

In [163]:

# Tính thời gian xử lý đơn hàng
df_olist_orders_dataset['processing_time'] = df_olist_orders_dataset['order_approved_at'] - df_olist_orders_dataset['order_purchase_timestamp']
# Tính thời gian giao hàng
df_olist_orders_dataset['delivery_time'] = df_olist_orders_dataset['order_delivered_customer_date'] - df_olist_orders_dataset['order_delivered_carrier_date']

In [65]:
# Phân loại thời gian xử lý đơn hàng
bins = [pd.Timedelta(days=-1), pd.Timedelta(days=0), pd.Timedelta(days=1), pd.Timedelta(days=5), pd.Timedelta(days=10), pd.Timedelta(days=20), pd.Timedelta(days=100)]  # Sử dụng một giá trị đủ lớn để đại diện cho vô hạn
labels = ['error', 'less than 1 day', '1 to 5 days', '5 to 10 days ', '10 to 20 days', ' 20 days and above ']

# Sử dụng pd.cut để phân loại
df_olist_orders_dataset['processing_time_category'] = pd.cut(df_olist_orders_dataset['processing_time'], bins=bins, labels=labels, include_lowest=True)
df_olist_orders_dataset['processing_time_category'] = df_olist_orders_dataset['processing_time_category'].astype('object')

KeyError: 'processing_time'

In [165]:
# Tính toán giá trị cho cột 'Early Delivery'
df_olist_orders_dataset['Early Delivery'] =  df_olist_orders_dataset['order_estimated_delivery_date'] - df_olist_orders_dataset['order_delivered_customer_date']

# Tính toán giá trị cho cột 'Late Delivery'
df_olist_orders_dataset['Late Delivery'] = df_olist_orders_dataset['order_delivered_customer_date'] - df_olist_orders_dataset['order_estimated_delivery_date']

# Thay thế các giá trị không phù hợp với yêu cầu bằng 'null'
df_olist_orders_dataset['Early Delivery'] = df_olist_orders_dataset['Early Delivery'].apply(lambda x: x if x.days > 0 else pd.NaT)
df_olist_orders_dataset['Late Delivery'] = df_olist_orders_dataset['Late Delivery'].apply(lambda x: x if x.days > 0 else pd.NaT)

In [ ]:
# Hàm xác định trạng thái giao hàng
def determine_delivery_status(row):
    if pd.isnull(row['Early Delivery']) and pd.isnull(row['Late Delivery']):
        return np.nan
    elif pd.isnull(row['Early Delivery']) and row['Late Delivery'] == pd.Timedelta(0):
        return 'on time'
    elif pd.isnull(row['Late Delivery']) and row['Early Delivery'] == pd.Timedelta(0):
        return 'on time'
    elif pd.notnull(row['Early Delivery']):
        return 'early'
    elif pd.notnull(row['Late Delivery']):
        return 'late'
    else:
        return np.nan

# Áp dụng hàm để tạo cột mới
df_olist_orders_dataset ['delivery_status'] = df_olist_orders_dataset .apply(determine_delivery_status, axis=1)

## BẢNG PRODUCT

In [66]:
df_olist_products_dataset.head(10)

                         product_id  product_category_name  product_weight_g
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria             225.0
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes            1000.0
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer             154.0
3  cef67bcfe19066a932b7673e239eb23d                  bebes             371.0
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas             625.0
5  41d3672d4792049fa1779bb35283ed13  instrumentos_musicais             200.0
6  732bd381ad09e530fe0a5f457d81becb             cool_stuff           18350.0
7  2548af3e6e77a690cf3eb6368e9ab61e       moveis_decoracao             900.0
8  37cc742be07708b53a98702e77a21a02       eletrodomesticos             400.0
9  8c92109888e8cdf9d66dc7e463025574             brinquedos             600.0

In [67]:
df_olist_products_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32340 entries, 0 to 32950
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             32340 non-null  object
 1   product_category_name  32340 non-null  object
 2   product_weight_g       32340 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1010.6+ KB

In [68]:
columns_to_keep = ['product_id', 'product_category_name','product_weight_g']
df_olist_products_dataset = df_olist_products_dataset[columns_to_keep]

In [69]:
# Kiểm tra các giá trị null trong DataFrame
null_values = df_olist_products_dataset.isnull().sum()
print(null_values)

product_id               0
product_category_name    0
product_weight_g         0
dtype: int64

In [70]:
#Xóa giá trị NULL
df_olist_products_dataset.dropna(inplace=True)

## BẢNG SELLERS

In [71]:
df_olist_sellers_dataset.head(10)

                          seller_id  seller_zip_code_prefix
0  3442f8959a84dea7ee197c632cb2df15                   13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914
5  c240c4061717ac1806ae6ee72be3533b                   20920
6  e49c26c3edfa46d227d5121a6b6e4d37                   55325
7  1b938a7ec6ac5061a66a3766e0e75f90                   16304
8  768a86e36ad6aae3d03ee3c6433d61df                    1529
9  ccc4bbb5f32a6ab2b7066a4130f114e3                   80310

In [72]:
df_olist_sellers_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
dtypes: int64(1), object(1)
memory usage: 48.5+ KB

In [73]:
# Xóa cột 'seller_city' và 'seller_state'
df_olist_sellers_dataset.drop(['seller_city', 'seller_state'], axis=1, inplace=True)

KeyError: "['seller_city', 'seller_state'] not found in axis"

In [74]:
print(df_olist_sellers_dataset.isnull().sum())

seller_id                 0
seller_zip_code_prefix    0
dtype: int64

## BẢNG PRODUCT NAME

In [81]:
df_product_category_name_translation.head(10)

,product_category_name,product_category_name_english,category_group
0,beleza_saude,health_beauty,Health & Beauty
1,informatica_acessorios,computers_accessories,Electronics & Technology
2,automotivo,auto,Tools & Equipment
3,cama_mesa_banho,bed_bath_table,Home & Furniture
4,moveis_decoracao,furniture_decor,Home & Furniture
5,esporte_lazer,sports_leisure,Sports & Entertainment
6,perfumaria,perfumery,Health & Beauty
7,utilidades_domesticas,housewares,Home & Furniture
8,telefonia,telephony,Electronics & Technology
9,relogios_presentes,watches_gifts,Fashion & Accessories

In [80]:
df_product_category_name_translation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
 2   category_group                 71 non-null     object
dtypes: object(3)
memory usage: 1.8+ KB

In [77]:
category_mapping = {
    "computers_accessories": "Electronics & Technology",
    "telephony": "Electronics & Technology",
    "tablets_printing_image": "Electronics & Technology",
    "fixed_telephony": "Electronics & Technology",
    "audio": "Electronics & Technology",
    "consoles_games": "Electronics & Technology",
    "electronics": "Electronics & Technology",
    "cine_photo": "Electronics & Technology",
    "computers": "Electronics & Technology",
    "home_appliances": "Home & Furniture",
    "home_appliances_2": "Home & Furniture",
    "small_appliances": "Home & Furniture",
    "small_appliances_home_oven_and_coffee": "Home & Furniture",
    "kitchen_dining_laundry_garden_furniture": "Home & Furniture",
    "furniture_decor": "Home & Furniture",
    "furniture_mattress_and_upholstery": "Home & Furniture",
    "furniture_living_room": "Home & Furniture",
    "furniture_bedroom": "Home & Furniture",
    "office_furniture": "Home & Furniture",
    "bed_bath_table": "Home & Furniture",
    "home_confort": "Home & Furniture",
    "home_comfort_2": "Home & Furniture",
    "sports_leisure": "Sports & Entertainment",
    "toys": "Sports & Entertainment",
    "cool_stuff": "Sports & Entertainment",
    "musical_instruments": "Sports & Entertainment",
    "cds_dvds_musicals": "Sports & Entertainment",
    "dvds_blu_ray": "Sports & Entertainment",
    "books_technical": "Sports & Entertainment",
    "books_general_interest": "Sports & Entertainment",
    "books_imported": "Sports & Entertainment",
    "music": "Sports & Entertainment",
    "art": "Sports & Entertainment",
    "arts_and_craftmanship": "Sports & Entertainment",
    "party_supplies": "Sports & Entertainment",
    "christmas_supplies": "Sports & Entertainment",
    "fashion_bags_accessories": "Fashion & Accessories",
    "fashion_shoes": "Fashion & Accessories",
    "fashion_male_clothing": "Fashion & Accessories",
    "fashio_female_clothing": "Fashion & Accessories",
    "fashion_underwear_beach": "Fashion & Accessories",
    "fashion_sport": "Fashion & Accessories",
    "fashion_childrens_clothes": "Fashion & Accessories",
    "watches_gifts": "Fashion & Accessories",
    "luggage_accessories": "Fashion & Accessories",
    "health_beauty": "Health & Beauty",
    "perfumery": "Health & Beauty",
    "diapers_and_hygiene": "Health & Beauty",
    "food_drink": "Food & Beverage",
    "food": "Food & Beverage",
    "drinks": "Food & Beverage",
    "la_cuisine": "Food & Beverage",
    "auto": "Tools & Equipment",
    "construction_tools_construction": "Tools & Equipment",
    "costruction_tools_garden": "Tools & Equipment",
    "costruction_tools_tools": "Tools & Equipment",
    "construction_tools_lights": "Tools & Equipment",
    "construction_tools_safety": "Tools & Equipment", 
    "air_conditioning": "Tools & Equipment",
    "garden_tools": "Tools & Equipment",
    "signaling_and_security": "Tools & Equipment",
    "security_and_services": "Tools & Equipment",
    "agro_industry_and_commerce": "Tools & Equipment",
    "industry_commerce_and_business": "Tools & Equipment",
    "home_construction": "Tools & Equipment",
    "baby": "Other",
    "stationery": "Office Supplies",
    "market_place": "Office Supplies",
    "pet_shop": "Other",
    "housewares": "Home & Furniture",
    "flowers": "Other"
}
df_product_category_name_translation["category_group"] = df_product_category_name_translation["product_category_name_english"].map(category_mapping)

# LƯU DỮ LIỆU

In [82]:
# Ghi các DataFrame vào các tệp tin CSV
df_olistcustomer.to_csv('Data after ETL/olist_customers.csv', index=False, mode='w')
df_olistgeolocations.to_csv('Data after ETL/olist_geolocations.csv', index=False, mode='w')
df_olist_order_items_dataset.to_csv('Data after ETL/olist_order_items_dataset.csv', index=False, mode='w')
df_olist_order_payments_dataset.to_csv('Data after ETL/olist_order_payments_dataset.csv', index=False, mode='w')
df_olist_order_reviews_dataset.to_csv('Data after ETL/olist_order_reviews_dataset.csv', index=False, mode='w')
df_olist_orders_dataset.to_csv('Data after ETL/olist_orders_dataset.csv', index=False, mode='w')
df_olist_products_dataset.to_csv('Data after ETL/olist_products_dataset.csv', index=False, mode='w')
df_olist_sellers_dataset.to_csv('Data after ETL/olist_sellers_dataset.csv', index=False, mode='w')
df_product_category_name_translation.to_csv('Data after ETL/product_category_name_translation.csv', index=False, mode='w')

PermissionError: [Errno 13] Permission denied: 'Data after ETL/product_category_name_translation.csv'